<Context>
    <Resource name="jdbc/db"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="100"
              maxIdle="30"
              maxWaitMillis="10000"
              username="Я не указал username"
              password="Я не указал password"
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/restaurant-2.0"
    />

    <Resource name="mail/Session" auth="Container"
              type="javax.mail.Session"
              mail.user="mrsashqa@gmail.com"
              password="ytgtqytrehb11"
              mail.transport.protocol="smtp"
              mail.smtp.host= "smtp.gmail.com"
              mail.smtp.auth= "true"
              mail.smtp.port= "587"
              mail.smtp.starttls.enable="true"
              mail.debug="false"
    />
</Context>