body {
    font-family: 'Exo 2', sans-serif !important;
}

.main-content {
    margin-top: 50px;
}

header .fa {
    margin: 0 1em;
}

header #order-bucket-nav, .badged {
    position: relative;
}

header .badge {
    background-color: #bf75d8;
    font-size: xx-small;
    position: absolute;
    top: 5%;
    right: -1%;
}

header #order-bucket-nav:hover #bucket-amount, .badged:hover .badge {
    background-color: #ab41d3;
}

/*category*/
div#categories .card:hover {
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

div#categories .card:hover .card-body {
    background-color: rgba(76, 214, 255, 0.1);
}

#image-area {
    width: 100%;
}

div#form form {
    padding: 20px;
    height: 280px;
}

div#sign-up-form form {
    padding: 20px !important;
    height: 440px;
}

#sign-up-page div img {
    height: 360px;
}

#image-area img {
    height: 280px;
}

#items div.card {
    width: 11rem !important;
    margin-bottom: 1rem;
}

#items .card img {
    height: 9rem;
}

#items .card-body {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: solid silver;
}

#items .card a {
    color: inherit;
}

#items .card a:hover {
    text-decoration: none;
}

#items .card:hover {
    border: 2px solid silver;
    cursor: pointer;
}

@media (min-width: 1200px) {
    #categories {
        max-width: 770px;
    }
}

#items .card-body {
    border-bottom: 0;
}

#items ul.nav {
    height: 100%;
    background-color: inherit;
}

#items li.nav-item {
    border-radius: 0;
}

#items ul.nav {
    height: 100%;
    background-color: inherit;
}

#items a.nav-link {
    color: grey;
    border-radius: 0;
}

#items li.nav-item :hover, #current-category {
    border-left: 2px solid darkgray;
    border-radius: 0;
    color: black;
}

#items .card a {
    color: inherit;
}

#items .order-text-block {
    background: grey;
    color: white;
    height: 25px;
    position: relative;
    top: -25px;
    margin-bottom: -25px;
    opacity: 0;
}

#items .card:hover .order-text-block {
    opacity: 1;
}

/*ITEMS TABLE*/
td img {
    width: 55px;
    height: 55px;
    padding: 0 !important;
}

.set-amount-wrapper {
    position: relative;
    display: flex;
}

.set-amount-button {
    font-size: 50%;
    margin-bottom: auto;
    margin-top: auto;
    width: 15px;
    height: 15px;
    text-align: center;
}

.set-amount-button:hover, .trash-button:hover {
    cursor: pointer;
}

#client-orders td, #client-invoices td, .centered-table td {
    vertical-align: middle !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;

}

#client-orders th, #client-invoices th {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.item-amount {
    margin: 0 5px;
}

table .fa-trash {
    width: 20px;
    height: 20px;
    font-size: 80%;
    padding-left: 15%;
}

/*CLIENT-ORDERS*/
#client-orders table tr:nth-child(even) {
    background-color: rgba(172, 215, 0, 0.05);
}

td.order-id:hover, .invoice-id:hover {
    cursor: pointer;
    background-color: rgba(0, 215, 108, 0.05);
}

#client-orders th, #client-orders td, #admin-order-items-table td {
    padding: 0.75rem !important;
}

/*ORDER PAGE*/
#order-content th,
#order-content td,
#client-orders th,
#client-orders td,
#admin-orders th,
#admin-orders td,
.centered-table th,
.centered-table td {
    text-align: center;
}

.table-text-center th,
.table-text-center td {
    text-align: center;
    vertical-align: middle !important;
}

#order {
    margin-bottom: 70px;
}

/*ORDER/INVOICE STATE CLASSES  START*/
.REJECTED, .UNPAID {
    background-color: rgba(168, 45, 25, 0.34) !important;
}

.PROCESSED, .PAID {
    background-color: rgba(66, 255, 64, 0.29) !important;
}

.NEW, .ACTIVE {
    background-color: rgba(45, 70, 255, 0.34) !important;
}

.CLOSED, .MODIFIED {
    background-color: rgba(255, 249, 44, 0.4) !important;
}

/*ORDER STATE CLASSES  END*/

/*admin orders start*/

#admin-orders-nav li.active {
    border-left: solid 3px chocolate;
}

#admin-orders-nav li.active a {
    color: black;
}

#admin-orders-nav li:hover {
    background-color: rgba(224, 224, 224, 0.3);
}

#admin-orders #reject-button:hover {
    background-color: rgba(168, 23, 14, 0.6);
}

#admin-orders #process-button:hover {
    background-color: rgba(12, 168, 12, 0.7);
}

.span-btn {
    user-select: none;
}

.span-btn:hover {
    cursor: pointer;
}

td input {
    border: none;
    margin: 0 auto !important;
    border-radius: 10%;
    text-align: center !important;
}

/*admin orders end*/

/*admin invoice */

.inner-table {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(130, 216, 255, 0.05) !important;
}

.order-content form {
    margin-bottom: 25px !important;
}

tr.order-content {
    display: none;
    padding: 40px !important;
}

/*admin invoice end*/

.unselectable {
    user-select: none;
}

footer {
    margin-top: 90px;
}

footer .container {
    border-top: solid lightgrey 1px;
    font-size: small;
    font-weight: 600;
    padding-top: 30px;
}

