body {
    font-family: 'Exo 2', sans-serif !important;
}
.main-content{
    margin-top: 50px;
}

header .fa {
    margin: 0 1em;
}

header #order-bucket-nav {
    position: relative;
}

header #bucket-amount {
    background-color: #bf75d8;
    font-size: xx-small;
    position: absolute;
    top: -2%;
    right: -1%;
}
header #order-bucket-nav:hover #bucket-amount{
    background-color:#ab41d3;
}

/*category*/
div#categories .card:hover {
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

div#categories .card:hover .card-body {
    background-color: rgba(76,214,255,0.1);
}




#image-area {
    width: 100%;
}

div#form form {
    padding: 20px;
    height: 280px;
}

div#sign-up-form form {
    padding: 20px !important;
    height: 440px;
}

#sign-up-page div img {
    height: 360px;
}

#image-area img {
    height: 280px;
}

div.card {
    width: 11rem !important;
    margin-bottom: 1rem;
}

.card img {
    height: 9rem;
}

.card-body {
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-bottom: solid silver;
}

.card a {
    color: inherit;
}

.card a:hover {
    text-decoration: none;
}

#items .card:hover {
    border: 2px solid silver;
    cursor: pointer;
}

@media (min-width: 1200px) {
    #categories {
        max-width: 770px;
    }
}

#items .card-body {
    border-bottom: 0;
}

#items ul.nav {
    height: 100%;
    background-color: inherit;
}

#items li.nav-item {
    border-radius: 0;
}

#items ul.nav {
    height: 100%;
    background-color: inherit;
}

#items a.nav-link {
    color: grey;
    border-radius: 0;
}

#items li.nav-item :hover, #current-category {
    border-left: 2px solid darkgray;
    border-radius: 0;
    color: black;
}

#items .card a {
    color: inherit;
}

#items .order-text-block {
    background: grey;
    color: white;
    height: 25px;
    position: relative;
    top: -25px;
    margin-bottom: -25px;
    opacity: 0;
}

#items .card:hover .order-text-block {
    opacity: 1;
}

/*ITEMS TABLE*/
td img {
    width: 55px;
    height: 55px;
    padding: 0 !important;
}

.set-amount-wrapper {
    position: relative;
    display: flex;
}

.set-amount-button {
    font-size: 50%;
    margin-bottom: auto;
    margin-top: auto;
    width: 15px;
    height: 15px;
    text-align: center;
}

.set-amount-button:hover, .trash-button:hover {
    cursor: pointer;
}

#order-table td {
    vertical-align: middle !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

#order-table th {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.item-amount {
    margin: 0 5px;
}

table .fa-trash {
    width: 20px;
    height: 20px;
    font-size: 80%;
    padding-left: 15%;
}
/*CLIENT-ORDERS*/
#client-orders table tr:nth-child(even){
    background-color: rgba(172, 215, 0, 0.05);
}
#client-orders td.order-id:hover , #client-orders td.invoice-id:hover{
    cursor: pointer;
    background-color: rgba(0,215,108,0.05);
}


footer {
    margin-top: 90px;
}

footer .container {
    border-top: solid lightgrey 1px;
    font-size: small;
    font-weight: 600;
    padding-top: 30px;
}




